* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f172a;
  
}
.cta {
  font-size: 1rem;
}
.cta a {
  text-decoration: none;
  margin-left: 5px;
  margin-top: 20px;
}
.login-box,
.register-box {
  background-color: #0f172a;
  color: #fff;
  padding: 20px;
  border-radius: 0px;
  margin: 20px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #fff;
}

.login-box h2,
.register-box h2 {
  margin-top: 0;
  text-align: center;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  color: #fff;
}

label {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: none;
  border: none;
  border-radius: 0.25rem;
  background-color: #f2f2f2;
  font-size: 1rem;
  border-radius: 0px;
  width: 100%;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  margin: 20px 0;
}
button[type="redirect"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}
button[type="submit"]:hover {
  background-color: #3e8e41;
}
@media screen and (min-width: 600px) {
  .login-box,
  .register-box {
    width: 45%;
    margin: 10px 5px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
  }
}

.hero-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.hero-wave svg {
    width: 100%;
    height: 120px;
    display: block;
}
.error-message {
  font-size: 0.85rem;
  color: red;
  display: none;
  margin-top: 4px;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;

  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;

  color: #e5e7eb;
  background: rgba(255, 255, 255, 0.08);
  padding: 8px 14px;

  border-radius: 6px;
  backdrop-filter: blur(6px);
  transition: all 0.2s ease;
  z-index: 10;
}

.back-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateX(-2px);
}
.password-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.eye-btn {
  background-color: #334155;
  color: white;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 4px;
}

.eye-btn:hover {
  background-color: #1e293b;
}

.gen-btn {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 8px 10px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 4px;
}

.gen-btn:hover {
  background-color: #1d4ed8;
}
